{% extends 'lmn/base.html' %}
{% block content %}

<h2>New note for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date}}</h2>

<!--Custom form fields selected-->
<form method="POST" action="{% url 'new_note' show_pk=show.pk %}" enctype="multipart/form-data">
  
  <div>
    {% csrf_token %}

    <br>
    <div class="message-error">
      <b>{{ form.rating.errors }}</b>
    </div>
      
    </br>

    <br>
      <h>Title:</h>
    </br>

    <br>
      {{ form.title }}
    </br>
    
    <br>
      <h>Text:</h>
    </br>

    <br>
      {{ form.text }}
    </br>

    <br>
      <h>Photo:</h>
    </br>

    <br>
      {{ form.photo }}
    </br>

    <br>
      <h>Rating:
        <br>
          <br>
          1 - Very Dissatisfied
          </br>
          <br>
          2 - Dissatisfied
          </br>
          <br>
          3 - Neutral
          </br>
          <br>
          4 - Satisfied
          </br>
          <br>
          5 - Very Satisfied
          </br>

        </br>
      {{ form.rating }}
      </h>
    </br>
  </div>
  </br>
  <input type='submit' value='Add Note'>
  </br>
</form>

{% endblock %}
