{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}

<h2 id='show_info'>New note for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date}}</h2>

<form method="POST" action="{% url 'new_note' show_pk=show.pk %}">
  
  <div>
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <input type='submit' name='post_type' value='Add Note'>
  <input type='submit' id='tweet' name='post_type' value='Tweet and Add Note'>
</form>
<p>Tweet character limit: 
  <span id='counter'>280/280</span>
  <br>More than 280 characters (including the show info) means the text will get truncated!
</p>

<script src="{% static 'js/character_count.js' %}"></script>

{% endblock %}
