{% extends 'lmn/base.html' %}
{% block content %}

<h2>New note for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date}}</h2>

<form method="POST" action="{% url 'new_note' show_pk=show.pk %}" enctype="multipart/form-data">
  
  <div>
    {% csrf_token %}
    {{ note_form.as_p }}

    {% if rating_form %}

      {{ rating_form.as_p }}

    {% else %}

      <p>You've already rated this show.</p>

    {% endif %}

  </div>
  <input type='submit' value='Add Note'>
</form>

{% endblock %}
