{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}


<h2 id="note-page-title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by 
    <a href="{% url 'user_profile' user_pk=note.user.pk %}">{{ user.username }}</a>
</h2>

<p id="note-title"><b>{{ note.title}}</b></p>
<p id="note-text">{{ note.text }}</b>

<form method="POST" action="{% url 'edit_note' note.pk %}">
  <div>
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <input type='submit' value='Edit Note'>
</form>

<form method="POST" action="{% url 'delete_note' note.pk %}">
  {% csrf_token %}
  <button type=submit class="delete">Delete Note</button>
</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>

{% endblock %}
