{% extends 'lmn/base.html' %}

{% block content %}

  <h2 id="show-title">Notes for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date }}</h2>

  <a id="add-new-show-link" href="{% url 'new_note' show_pk=show.pk %}">Add your own notes for this show</a>

  {% for note in notes %}

    <div id="note_{{ note.pk }}">
      <p class="note-info">Posted on: {{ note.posted_date }}</p>

      <p>Posted by: 
        <a class="user" href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a>
      </p>

      <p class="note-text">{{ note.text|truncatechars:100 }}</p> 

      <a href="{% url 'note_detail' note_pk=note.pk %}">Note details</a>
    </div>

    <hr>

  {% empty %}

    <p>No notes.</p>

  {% endfor %}


{% endblock %}
