{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="ROgfOkjU"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


{% if request.path  == '/notes/latest/' %}
<h3>Notes Search</h3>
  <form action="{% url 'latest_notes' %}">
    {{ form }}
    <input type='submit' value='Search All Notes' class="btn btn-default">
  </form>


{% if search_term %}
<h2 id='note-list-title'>Notes matching '{{ search_term }}' 
  <a href="{% url 'latest_notes' %}" id='clear_search'>(clear)</a>
</h2>
{% else %}
  <h2 id='note-list-title' class="header-styles">All notes</h2>
{% endif %}
{% endif %}


{% if '/notes/for_show/' in request.path %}
<h3>Notes Search</h3>
  <form action="{% url 'notes_for_show' show.id %}">
    {{ form }}
    <input type='submit' value='Search Notes For {{ show.venue.name }}'>
  </form>


{% if search_term %}
<h2 id='note-list-title'>Notes matching '{{ search_term }}' 
  <a href="{% url 'notes_for_show' show.id %}" id='clear_search'>(clear)</a>
</h2>
{% else %}
  <h2 id='note-list-title'>All notes for {{ show.venue.name }}</h2>
{% endif %}
{% endif %}


{% if show %}
  <h2 id="show-title">Notes for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date }}</h2>
{% else %}
  <h2 class="header-styles">Latest Notes</h2>
{% endif %}


{% for note in page_obj %}

  <div id="note_{{ note.pk }}">
    <h3 class="note-title">{{ note.title }}</h3>

    <p class="show-info">
      <a href="{% url 'notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a>
    </p>

    <p class="note-info">Posted on {{ note.posted_date }} by 
      <a class='user' href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username|title }}</a>
    </p>

    <p class='note-text'>Comments: {{ note.text|truncatechars:100 }}</p>

    {% if note.photo %} <!--show if there is a photo-->
      <p id="note-photo">Photos: <br><img src="{{ note.photo.url }}" style="width:300px;height:350px;"></p>
    {% else %}
      <P>No Photo Available</P>
    {% endif %}
    
    <!--Checks stars considered "checked" by note.rating-->
    <p class="note-rating">Rating: </p>
    {% if note.rating == 1 %}
      <span class="fa fa-star checked" id="first"></span>
      <span class="fa fa-star" id="second"></span>
      <span class="fa fa-star" id="third"></span>
      <span class="fa fa-star" id="fourth"></span>
      <span class="fa fa-star" id="fifth"></span>
        

    {% elif note.rating == 2 %}
      <span class="fa fa-star checked" id="first"></span>
      <span class="fa fa-star checked" id="second"></span>
      <span class="fa fa-star" id="third"></span>
      <span class="fa fa-star" id="fourth"></span>
      <span class="fa fa-star" id="fifth"></span>
    

    {% elif note.rating == 3 %}
      <span class="fa fa-star checked" id="first"></span>
      <span class="fa fa-star checked" id="second"></span>
      <span class="fa fa-star checked" id="third"></span>
      <span class="fa fa-star" id="fourth"></span>
      <span class="fa fa-star" id="fifth"></span>
    

    {% elif note.rating == 4 %}
      <span class="fa fa-star checked" id="first"></span>
      <span class="fa fa-star checked" id="second"></span>
      <span class="fa fa-star checked" id="third"></span>
      <span class="fa fa-star checked" id="fourth"></span>
      <span class="fa fa-star" id="fifth"></span>
    

    {% elif note.rating == 5 %}
      <span class="fa fa-star checked" id="first"></span>
      <span class="fa fa-star checked" id="second"></span>
      <span class="fa fa-star checked" id="third"></span>
      <span class="fa fa-star checked" id="fourth"></span>
      <span class="fa fa-star checked" id="fifth"></span>

    {% endif %}

      
    <div>
      {% if note.user.username == user.get_username %}
        <!--Displays update note button only for current users notes-->
        <form action="{% url 'update_note' note.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="update">Update</button>
        </form>
        <!--Displays delete note button only for current users notes-->
        <form action="{% url 'delete_note' note.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="delete">Delete</button>
        </form>
      {% endif %}

      <p>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F{{ request.get_host }}%2Fnotes%2Flatest%2F{{ note.pk }}%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        <a href="https://twitter.com/intent/tweet?text={{ note.text | truncatechars:20 }} %23{{ note.show.artist.name }} %23{{ note.show.venue.name }}%20More detail:%20&url=
        http%3A%2F%2F{{ request.get_host }}%2Fnotes%2Flatest%2F{{ note.pk }}%2F" target="_blank" class="twitter-share-button" data-size="small" data-show-count="false">Tweet</a>
      </p>
    </div>


  </div>  

  <hr>

{% empty %}

  <p>No notes.</p>

{% endfor %}


{% if page_obj.has_other_pages %}
<!--add a way to navigate between different pages-->
<br>
<br>
  <div class="">
    Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
  </div>
  <nav aria-label="...">
    <ul class="pagination">

      <li class="page-item">
      {% if page_obj.has_previous %}
        <a class="page-link" href="{% url 'latest_notes'%}?page={{page_obj.previous_page_number}}">Previous</a>{% endif %}
      </li>
      
      <!--get current page number-->
      {% for n in page_obj.paginator.page_range %}
        <!--check if the number from the view matches with the value of n-->
        {% if page_obj.number == n %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        <!--display on 3 page indicator at a time-->
        {% elif n > page_obj.number|add:-2 and n < page_obj.number|add:2 %}
          <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        {% endif %}
      {% endfor %}
      
      <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link" href="{% url 'latest_notes'%}?page={{page_obj.next_page_number}}">Next</a>{% endif %}
      </li>
    </ul>
  </nav>
{% endif %}

<!-- If this is a list of notes for one show,
display link to add new note for that show. -->

{% if show %}

  <a href="{% url 'new_note' show_pk=show.pk %}">Add your own notes</a>

{% endif %}

<script src="{% static 'js/confirm_delete.js' %}"></script>


{% endblock %}
