{% extends 'lmn/base.html' %}
{% block content %}
{% load mathfilters %}


<h2>Latest Notes</h2>

<h4><a href="{% url 'most_notes' %}">See shows with the most notes</a></h4>

<p> Page {{ current_page }} of {{ num_pages }}</p>

{% for note in notes %}

  <br><div id="note_{{ note.pk }}">
    <p class="note_title">
      TITLE: <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
    </p>

    <p class="show-info">
      SHOW: <a href="{% url 'show_detail' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a>
    </p>

    <p class="note-info">POSTED: {{ note.posted_date }} by 
      <a class='user' href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a>
    </p>

    <p class='note-text'>TEXT: {{ note.text|truncatechars:100 }}</p>

  </div>

  <hr>

{% empty %}

  <p>No notes.</p>

{% endfor %}

<!-- If this is a list of notes for one show,
display link to add new note for that show. -->


<div class="container mt-3 d-flex justify-content-center">
  <nav aria-label="Pagination Navigation">
    <ul class="pagination">
     <li class="page-item {% if current_page == 1 %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|sub:1 }}" aria-label="Previous">
       <span aria-hidden="true">«</span>
       <span class="sr-only">Previous</span>
      </a>
     </li>
     {% for i in page_range %}
     <li class="page-item"><a class="page-link {% if i == current_page %} active {% endif %}" href="?page={{ i }}">{{ i }}</a></li>
     {% endfor %}
     
     <li class="page-item {% if current_page == num_pages %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
       <span aria-hidden="true">»</span>
       <span class="sr-only">Next</span>
      </a>
     </li>
    </ul>
 </nav>
</div>


{% endblock %}
