[flake8]
# Ignore trailing whitespace, some docstring checks
ignore = W291, D202, D210, D400
max-line-length = 120
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
   