[flake8]
# Ignore trailing whitespace, some docstring checks
# D105 docstrings in magic methods
# W293 blank line contains whitespace
ignore = W291, D202, D210, D400, D105, W293
per-file-ignores =
    # ignore missing docstrings in test files 
    lmn/tests/*:D
    lmn/functional_tests/*:D
    __init__.py:D
max-line-length = 120
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # ignore generated migration files 
    lmn/migrations/
    manage.py

   