[flake8]
# Ignore trailing whitespace
ignore = W291 
max-line-length = 120
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
   