db.sqlite3

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea

# ignore virtual enviroments 
venv
env


.env
.gcloudignore
app.yaml

lmnop2-credentials.json
lmnop-credentials.json
debug.log
cloud_sql_proxy.exe


media/