db.sqlite3

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea

# ignore virtual enviroments 
venv
env

# ignore Mac settings
.DS_Store
cloud_sql_proxy

# ignore gcp deployment creds
lmnop_creds.json
