db.sqlite3

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea

# ignore virtual enviroments 
venv
env

# ignore user images
lmn/media/user_images/*
lmn/media/user_profile_images/*

# ignore GCP cred files
app.yaml
lmn_creds.json

# ignore user uploaded images and their cache files
lmn/media/user_images/
lmn/media/user_profile_images/
lmn/media/cache/
