asgiref==3.10.0
coverage==7.11.1
Django==5.2.8
djlint==1.36.4
flake8==7.3.0
flake8-docstrings==1.7.0
flake8-polyfill==1.0.2
mccabe==0.7.0
pep8-naming==0.15.1
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
pytz==2025.2
snowballstemmer==3.0.1
sqlparse==0.5.3
urllib3==2.5.0
