beautifulsoup4==4.9.3
bs4==0.0.1
django-bootstrap4==3.0.0
Pillow==8.2.0
pytz==2020.1
soupsieve==2.2.1
sqlparse==0.4.1
certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
urllib3==1.26.4
Deprecated==1.2.12
psycopg2==2.8.6
PyGithub==1.54.1
PyJWT==1.7.1
wrapt==1.12.1
gunicorn==20.0.4
cachetools==4.2.2
cffi==1.14.5
django-mathfilters==1.0.0
django-storages==1.11.1
google-api-core==1.26.3
google-auth==1.30.0
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
packaging==20.9
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
rsa==4.7.2
selenium==3.141.0
six==1.15.0
sorl-thumbnail==12.7.0
asgiref==3.3.1
Django==3.1.7