{% extends 'lmn/base.html' %}
{% block content %}
{% load mathfilters %}


<h2 id="artists-at-venue-title">Shows played at {{ venue.name }}</h2>

<p>Page {{ current_page }} of {{ num_pages }}</p>

{% for show in shows %}

<div class="show" id="show_{{ show.pk }}">
  <p>ARTIST: {{ show.artist.name}} <br>
     DATE: {{ show.show_date }}<br>
    <span>

      RATING:

      {% if show.rating == None %}
        --
      {% endif %}

      {% if show.rating >= 1 %}

        <span class="icon">★</span>

      {% endif %}
      
      {% if show.rating >= 2 %}
      
        <span class="icon">★</span>

      {% endif %}
      
      {% if show.rating >= 3 %}
      
        <span class="icon">★</span>

      {% endif %}
      
      {% if show.rating >= 4 %}
      
        <span class="icon">★</span>

      {% endif %}
      
      {% if show.rating == 5 %}
      
        <span class="icon">★</span>
      
      {% endif %}

    </span>

    <br><a href="{% url 'show_detail' show_pk=show.pk %}">See show details, and tell us what you think</a><br>

  </p>

</div>

{% empty %}

  <p id="no-results">We have no records of shows at this venue</p>

{% endfor %}


<div class="container mt-3 d-flex justify-content-center">
  <nav aria-label="Pagination Navigation">
    <ul class="pagination">
     <li class="page-item {% if current_page == 1 %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|sub:1 }}" aria-label="Previous">
       <span aria-hidden="true">«</span>
       <span class="sr-only">Previous</span>
      </a>
     </li>
     {% for i in page_range %}
     <li class="page-item"><a class="page-link {% if i == current_page %} active {% endif %}" href="?page={{ i }}">{{ i }}</a></li>
     {% endfor %}
     
     <li class="page-item {% if current_page == num_pages %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
       <span aria-hidden="true">»</span>
       <span class="sr-only">Next</span>
      </a>
     </li>
    </ul>
 </nav>
</div>


{% endblock %}
