{% extends 'lmn/base.html' %}
{% block content %}

<h2 class="header-styles">Artist List</h2>

<P>Artist Search</p>
  <form action="{% url 'artist_list' %}">
    {{ form }}
    <input type='submit' value='Search' class="btn btn-default">
  </form>


{% if search_term %}
  <h2 id='artist-list-title'>Artists matching '{{ search_term }}' 
    <a href="{% url 'artist_list' %}" id='clear_search'>(clear)</a>
  </h2>
{% else %}
  <h2 id='artist-list-title' class="header-styles">All Artists</h2>
{% endif %}


{% for artist in page_obj %}
  <br>
  <br>
  <div class="artist" id="artist_{{ artist.pk }}" class="list-item">
    <p>
      <a href="{% url 'artist_detail' artist_pk=artist.pk %}">{{ artist.name }}</a>
    </p>
    
    <p>See venues played, notes, and add your own 
      <a href="{% url 'venues_for_artist' artist_pk=artist.pk %}">{{ artist.name }} notes</a>
    </p>  
  </div>
  <div class="divider"></div>

{% empty %}
  
<p>No artists found</p>

{% endfor %}
{% if page_obj.has_other_pages %}
<!--add a way to navigate between different pages-->
  <div class="">
    Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
  </div>
  <nav aria-label="...">
    <ul class="pagination">

      <li class="page-item">
      {% if page_obj.has_previous %}
        <a class="page-link" href="{% url 'artist_list'%}?page={{page_obj.previous_page_number}}">Previous</a>{% endif %}
      </li>
      
      <!--get current page number-->
      {% for n in page_obj.paginator.page_range %}
        <!--check if the number from the view matches with the value of n-->
        {% if page_obj.number == n %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        <!--display on 3 page indicator at a time-->
        {% elif n > page_obj.number|add:-2 and n < page_obj.number|add:2 %}
          <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        {% endif %}
      {% endfor %}
      
      <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link" href="{% url 'artist_list'%}?page={{page_obj.next_page_number}}">Next</a>{% endif %}
      </li>
    </ul>
  </nav>
{% endif %}

{% endblock %}
