body {
  font-family: monospace;
  background: #444d4d;
  color: antiquewhite;
}
a {
  color: rgb(70, 193, 197);
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

/* title */

.page-title {
padding-left: 1pc;
font-family: 'Lucida Sans';
color: white;
background-color: black;
}


.error {
  background-color: #b73f08;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  /* font-weight: bold; */
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar-nav {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  font-family: 'Lucida Sans';
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}    
.carousel-inner {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height: 100px;
  height: 450px;
  padding: 10px 20px;
  width: auto;
}
  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
  }
}

.image-container {
  border-style:ridge;
  border-color: black;
  border-width: 2px;
  width: 100px;
  height: 100px;
  overflow: hidden;  
  
}
.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: auto;
  margin: 0 0 0 0;
}
.nav-login {
  float: right;
}
.logo-container {
  position: relative;

}
