body {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  background: rgb(50,49,49);
  background: -moz-radial-gradient(circle, rgba(50,49,49,1) 0%, rgba(20,20,20,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(50,49,49,1) 0%, rgba(20,20,20,1) 100%);
  background: radial-gradient(circle, rgba(50,49,49,1) 0%, rgba(20,20,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323131",endColorstr="#141414",GradientType=1);
}
@media only screen and (max-width: 670px) {
  .navbar ul li a {
    font-size: 15px;
    padding-left: 12px;
  }
}

@media only screen and (max-width: 575px) {
  .navbar ul li a {
    font-size: 12px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .navbar ul li a {
    font-size: 10px;
    padding-left: 5px;
  }
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60;
  background: #212121;
  box-shadow: 0px 3px 3px rgba(24, 24, 24, 0.774);
}

a {
  color: rgb(157, 98, 190);
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #35CDFD, #C078FF 50%,#C078FF 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; 
}

a:hover {
  background-position: 0 100%;
}

#logo {
  float: left;
  padding-right: 40px;
  width: 180px;
  height: 60px;
  left: 0px;
  top: 0px;
}

#profile {
  float: right;
  width: 40px;
  height: 40px;
  top: 0px;
  padding: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  padding-right: 10px;
  top: 0;
  right: 0;
  font-size: 12px;
  text-align: center;
}

.error {
  background-color: #b73f08;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  /* font-weight: bold; */
}

.goodbye {
  position: absolute;
  left: 35%;
  top: 20%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.goodbye h1 {
  padding: 0;
  margin: 0;
  font-size: 80px;
}

.goodbye a {
  font-size: 20px;
}

