body{
  width: 100%;
}

button {
background: linear-gradient(270deg, #35CDFD 0%, #C078FF 100%);
border-radius: 10px;
border: none;
height: 70px;
width: 150px;
color: white;
font-weight: bold;
font-size: large;
}

button:hover{
    background:rgb(110, 225, 253);
}

@keyframes FadeInOut {
  0% {opacity:1;}
  25% {opacity:.75;}
  50% {opacity:.5;}
  100% {opacity:0;}
}

.welcome h2{
  padding: 0;
  margin: 0;
 font-size: 15px;
}

.welcome button {
  margin: 20px;
}


