<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
  <title>LMNOP</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css"></link>
  

</head>

<body>

<div class="jumbotron">
  
<a class="logo-container" href="{% url 'homepage' %}">
  <img class='logo' src="{% static 'img/LMN Logo.jpg' %}" alt="LMNLogo">
</a>
<img class="banner" src="{% static 'img/lmnbanner.jpg' %}">
<h1>Live Music Notes, Opinions, and Photographs</h1>
  <div class="container-fluid"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'venue_list' %}">Venues</a>
          <a class="nav-item nav-link" href="{% url 'artist_list' %}">Artist</a>
          <a class="nav-item nav-link" href="{% url 'latest_notes' %}">Notes</a>
          <div class="nav-login">
            <a class="nav-item nav-link" href="{% url 'login' %}?next={{ request.path }}">Login, Sign up?</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>


</body>

<hr>

{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
