{% extends 'lmn/base.html' %}

{% block content %}

{% if show %}
    <div class="card-panel teal lighten-2" style="text-align:center;"><h2 >Notes for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date }}</h2></div>
{% else %}
    <div class="card-panel teal lighten-2" style="text-align:center;"><h2 >Top Rated Shows</h2></div>
{% endif %}



{% for note in notes %}

<div class="section">
    <div id="note_{{ note.pk }}">
        <h4 class="note-title">{{ note.title }}</h4>

        <p class="show-info">
            <a href="{% url 'notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a>
        </p>

        <p class="note-info">Posted on {{ note.posted_date }} by 
        <a class="user" href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username|title }}</a>
        </p>

        <p class="note-text">Comment: {{ note.text|truncatechars:100 }}</p>

        <p class="note-rating">Rating: </p>
        {% if note.rating == 1 %}
            <span class="fa fa-star checked" id="first"></span>
            <span class="fa fa-star" id="second"></span>
            <span class="fa fa-star" id="third"></span>
            <span class="fa fa-star" id="fourth"></span>
            <span class="fa fa-star" id="fifth"></span>


        {% elif note.rating == 2 %}
            <span class="fa fa-star checked" id="first"></span>
            <span class="fa fa-star checked" id="second"></span>
            <span class="fa fa-star" id="third"></span>
            <span class="fa fa-star" id="fourth"></span>
            <span class="fa fa-star" id="fifth"></span>


        {% elif note.rating == 3 %}
            <span class="fa fa-star checked" id="first"></span>
            <span class="fa fa-star checked" id="second"></span>
            <span class="fa fa-star checked" id="third"></span>
            <span class="fa fa-star" id="fourth"></span>
            <span class="fa fa-star" id="fifth"></span>


        {% elif note.rating == 4 %}
            <span class="fa fa-star checked" id="first"></span>
            <span class="fa fa-star checked" id="second"></span>
            <span class="fa fa-star checked" id="third"></span>
            <span class="fa fa-star checked" id="fourth"></span>
            <span class="fa fa-star" id="fifth"></span>


        {% elif note.rating == 5 %}
            <span class="fa fa-star checked" id="first"></span>
            <span class="fa fa-star checked" id="second"></span>
            <span class="fa fa-star checked" id="third"></span>
            <span class="fa fa-star checked" id="fourth"></span>
            <span class="fa fa-star checked" id="fifth"></span>

        {% endif %}

        
        {% if note.photo %}
            <p>Photos: </p><br>
            <img src="{{ note.photo.url }}" style="width:300px;height:350px;">
        {% else %}
            <P>No Photo Available</P>
        {% endif %}

    </div>
    <div class="divider"></div>
</div> 
 

{% empty %}

  <p>No notes.</p>

{% endfor %}


{% endblock %} 