{% extends 'lmn/base.html' %}

{% block content %}



<div class="card-panel teal lighten-2" style="text-align:center;"><h2 >Top Rated Shows</h2></div>

{% for note in notes %}

<div class="section">
    <div id="note_{{ note.pk }}">
        <h4 class="note-title">{{ note.title }}</h4>

        <p class="show-info">
            <a href="{% url 'notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a>
        </p>

        <p class="note-info">Posted on {{ note.posted_date }} by 
        <a class='user' href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username|title }}</a>
        </p>

        <p class='note-text'>Comment: {{ note.text|truncatechars:100 }}</p>

        <p class='note-rating'>Rating: {{ note.rating }}</p>

        
        {% if note.photo %}
            <p>Photo</p>
            <img src="{{ note.photo.url }}" style="width:300px;height:350px;">
        {% else %}
            <P>No Photo Available</P>
        {% endif %}

    </div>
    <div class="divider"></div>
</div> 
 


  
{% empty %}

  <p>No notes.</p>

{% endfor %}


{% endblock %} 