{% extends 'lmn/base.html' %}
{% block content %}

<h2 class="header-styles">Venue List</h2>

<div>

  <p>Venue Search</p>

  <form action="{% url 'venue_list' %}">
    {{ form }}
    <input class="btn btn-default" type='submit' value='Search'/>
  </form>

  <div>
    {% if search_term %}
      <h3 id="venue_list_title">Venues matching '{{ search_term }}'  
        <a href="{% url 'venue_list' %}" id='clear_search'>clear</a>
      </h3>
    {% else %}
      <h3 id="venue_list_title" class="header-styles">All Venues</h3>
    {% endif %}
  </div>

  <div >

    {% for venue in page_obj %}

    
    <div id="venue-{{ venue.pk }}" class="list-item"> 
      <p id="venue-name"><a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a></p><p id="city-state" >{{ venue.city }}, {{ venue.state }}</p>
        
      <p>See artists, notes, and add your own <a href='{% url "artists_at_venue" venue_pk=venue.pk %}'>{{ venue.name }} notes</a></p>
    </div>
    <div class="divider"></div>


    {% empty %}
      <p>No venues found</p>
    {% endfor %}
    </div>
</div>

{% if page_obj.has_other_pages %}
<!--add a way to navigate between different pages-->
  <br>
  <br>
  <div class="">
    Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
  </div>
  <nav aria-label="...">
    <ul class="pagination">

      <li class="page-item">
      {% if page_obj.has_previous %}
        <a class="page-link" href="{% url 'venue_list'%}?page={{page_obj.previous_page_number}}">Previous</a>{% endif %}
      </li>
      
      <!--get current page number-->
      {% for n in page_obj.paginator.page_range %}
        <!--check if the number from the view matches with the value of n-->
        {% if page_obj.number == n %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        <!--display on 3 page indicator at a time-->
        {% elif n > page_obj.number|add:-2 and n < page_obj.number|add:2 %}
          <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
        {% endif %}
      {% endfor %}
      
      <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link" href="{% url 'venue_list'%}?page={{page_obj.next_page_number}}">Next</a>{% endif %}
      </li>
    </ul>
  </nav>
{% endif %}

{% endblock %}
