{% extends 'lmn/base.html' %}
{% block content %}
{% load mathfilters %}


<h1>VENUES</h1>

<div>

  <form action="{% url 'venue_list' %}">
    {{ form }}
    <span><input type='submit' value='Search'/> Page {{ current_page }} of {{ num_pages }}</span>

  </form>


  <div>
    {% if search_term %}
      <h3 id="venue_list_title">Venues matching '{{ search_term }}'  
        <a href="{% url 'venue_list' %}" id='clear_search'>clear</a>
      </h3>
    {% else %}
      <h3 id="venue_list_title">All venues</h3>
    {% endif %}
  </div>

  <div>

    {% for venue in venues %}

    <div id="venue-{{ venue.pk }}">
      <p><a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a> {{ venue.city }}, {{ venue.state }}</p>
      <p>See artists, notes, and add your own <a href='{% url "artists_at_venue" venue_pk=venue.pk %}'>{{ venue.name }} notes</a></p>
    </div>

    {% empty %}
      <p>No venues found</p>
    {% endfor %}
    {% if page.has_previous %}
    <a href="{% url 'venue_list' %}?page={{ venue.previous_page_number }}">Previous</a>
    {% endif %}
    {% if page.has_next %}
    <a href="{% url 'venue_list' %}?page={{ venue.next_page_number }}">Next</a>
    {% endif %}
    </div>

</div>

<div class="container mt-3 d-flex justify-content-center">
  <nav aria-label="Pagination Navigation">
    <ul class="pagination">
     <li class="page-item {% if current_page == 1 %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|sub:1 }}" aria-label="Previous">
       <span aria-hidden="true">«</span>
       <span class="sr-only">Previous</span>
      </a>
     </li>
     {% for i in page_range %}
     <li class="page-item"><a class="page-link {% if i == current_page %} active {% endif %}" href="?page={{ i }}">{{ i }}</a></li>
     {% endfor %}
     
     <li class="page-item {% if current_page == num_pages %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
       <span aria-hidden="true">»</span>
       <span class="sr-only">Next</span>
      </a>
     </li>
    </ul>
 </nav>
</div>




{% endblock %}
