{% extends 'lmn/base.html' %}
{% block content %}

<h2>Venue List</h2>
<a href="{% url 'add_venue' %}">Add Venue</a>
<div>

  <h2>Venue Search</h2>

  <form action="{% url 'venue_list' %}">
    {{ form }}
    <input type='submit' value='Search'/>
  </form>

  <div>
    {% if search_term %}
      <h3 id="venue_list_title">Venues matching '{{ search_term }}'  
        <a href="{% url 'venue_list' %}" id='clear_search'>clear</a>
      </h3>
    {% else %}
      <h3 id="venue_list_title">All venues</h3>
    {% endif %}
  </div>
  <div>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
            <p class="{{message.tags}}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% for venue in venues %}
      <div id="venue-{{ venue.pk }}">
        <p><a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a></p>
        <p>See artists, notes, and add your own <a href='{% url "artists_at_venue" venue_pk=venue.pk %}'>{{ venue.name }} notes</a></p>
      </div>
    {% empty %}
      <p>No venues found</p>
    {% endfor %}

    </div>

</div>
  <!-- Adds pagination navigation -->
  {% if venues.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ venues.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in venues.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if artists.has_next %}
      <li><a href="?page={{ venues.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
