{% extends 'lmn/base.html' %}
{% block content %}

<h2 id="venues_for_artist_title">Shows that {{ artist.name }} has played</h2>

{% for show in shows %}

  <div class="show" id="show-{{ show.pk }}">
    <p><span>VENUE: {{ show.venue.name}} DATE: {{ show.show_date }}
    
    <a href="{% url 'show_detail' show_pk=show.pk %}">See details and notes for this show</a>
    
    RATING:

    {% if show.rating == None %}
      --
    {% endif %}

    {% if show.rating >= 1 %}

      <span class="icon">★</span>

    {% endif %}
    
    {% if show.rating >= 2 %}
    
      <span class="icon">★</span>

    {% endif %}
    
    {% if show.rating >= 3 %}
    
      <span class="icon">★</span>

    {% endif %}
    
    {% if show.rating >= 4 %}
    
      <span class="icon">★</span>

    {% endif %}
    
    {% if show.rating == 5 %}
    
      <span class="icon">★</span>
    
    {% endif %}

    </span>
  
  </div>

{% empty %}
  <P id="no-results">We have no records of venues this artist has played at<p>
{% endfor %}

{% endblock %}
