{% extends 'lmn/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <div class="media">
      <div class="media-body">
        <h2 class="account-heading">{{ user_profile.username }}</h2>
        <p class="text-secondary">{{ user_profile.email }}</p>
      </div>
    </div>
    <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Profile</legend>
                {{ user_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
  </div>




<h2 id='username_notes'>{{ user_profile.username }}'s notes</h2>

{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title">
    <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
  </h3>

  <p class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</p>
  <p class="note_text">{{ note.text|truncatechars:300 }}</p>
  <p class="note_posted_at">{{ note.posted_date }}</p>
</div>

{% empty %}

    <p id='no_records'>No notes.</p>

{% endfor %}


{% endblock %}
