{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}


<!-- A user's profile page.

Includes list of user's notes with title and preview of text.
Text truncated to 200 characters. 

user_profile is the user that this profile is about 
user is a variable provided to the template and is the current logged-in user 

-->

  <div>
    <h2 class="center-align" style="text-decoration: underline;">User Profile</h2>
  </div>
        
  <p class="account-heading">Username: {{ user_profile.username }}</p>
  <p class="text-secondary">Email: {{ user_profile.email }}</p>
  {% if user_profile.profile.favorite_Artist %}
      <p class="text-secondary">Favorite Artist: {{ user_profile.profile.favorite_Artist }}</p>
  {% endif %}

  {% if user_profile.profile.favorite_Venue %}
      <p class="text-secondary">Favorite Venue: {{ user_profile.profile.favorite_Venue }}</p>
  {% endif %}
  {% if user_profile.profile.favorite_Show %}
      <p class="text-secondary">Favorite Show: {{ user_profile.profile.favorite_Show }}</p>
  {% endif %}

<div class="divider"></div>

<div>
  <h2 id='username_notes' class="center-align" style="text-decoration: underline;">{{ user_profile.username|title }}'s notes</h2>
</div>


{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title">
    <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
  </h3>

  <p class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</p>
  <p class="note_text">Comments: {{ note.text|truncatechars:300 }}</p>
  <p class="note_posted_at">{{ note.posted_date }}</p>
  {% if note.photo %} <!--show if there is a photo-->
    <p id="note-photo">Photos: <br><img src="{{ note.photo.url }}" style="width:300px;height:350px;"></p>
  {% else %}
    <P>No Photo Available</P>
  {% endif %}

  <!--Checks stars considered "checked" by note.rating-->
  <p class="note-rating">Rating: </p>
  {% if note.rating == 1 %}
    <span class="fa fa-star checked" id="first"></span>
    <span class="fa fa-star" id="second"></span>
    <span class="fa fa-star" id="third"></span>
    <span class="fa fa-star" id="fourth"></span>
    <span class="fa fa-star" id="fifth"></span>
      

  {% elif note.rating == 2 %}
    <span class="fa fa-star checked" id="first"></span>
    <span class="fa fa-star checked" id="second"></span>
    <span class="fa fa-star" id="third"></span>
    <span class="fa fa-star" id="fourth"></span>
    <span class="fa fa-star" id="fifth"></span>
  

  {% elif note.rating == 3 %}
    <span class="fa fa-star checked" id="first"></span>
    <span class="fa fa-star checked" id="second"></span>
    <span class="fa fa-star checked" id="third"></span>
    <span class="fa fa-star" id="fourth"></span>
    <span class="fa fa-star" id="fifth"></span>
  

  {% elif note.rating == 4 %}
    <span class="fa fa-star checked" id="first"></span>
    <span class="fa fa-star checked" id="second"></span>
    <span class="fa fa-star checked" id="third"></span>
    <span class="fa fa-star checked" id="fourth"></span>
    <span class="fa fa-star" id="fifth"></span>
  

  {% elif note.rating == 5 %}
    <span class="fa fa-star checked" id="first"></span>
    <span class="fa fa-star checked" id="second"></span>
    <span class="fa fa-star checked" id="third"></span>
    <span class="fa fa-star checked" id="fourth"></span>
    <span class="fa fa-star checked" id="fifth"></span>

  {% endif %}

  <!--Displays update note button only for current users notes-->
  <form action="{% url 'update_note' note.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="update">Update</button>
  </form>

  <!--Displays delete note button only for current users notes-->
  <form action="{% url 'delete_note' note.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="delete">Delete</button>
  </form>

</div>

{% empty %}

  <p id='no_records'>No notes.</p>

{% endfor %}

<script src="{% static 'js/confirm_delete.js' %}"></script>

{% endblock %}
