{% extends 'lmn/base.html' %}
{% block content %}


<!-- A user's profile page.

Includes list of user's notes with title and preview of text.
Text truncated to 200 characters. 

user_profile is the user that this profile is about 
user is a variable provided to the template and is the current logged-in user 

-->

<h2>{{ user_profile.get_full_name|default:"Unnamed Reviewer" }} ({{user_profile.username}})</h2>
<P>Twitter Username: {{ user_profile.profile.twitter_username|default:"User is not on Twitter." }}</p>
<P>Bio: {{ user_profile.profile.bio|default:"None" }}</p>
<P>Favorite Artist: {{ user_profile.profile.favorite_artist.name|default:"Favorite artist not selected." }}</p>
{% if user_profile.profile.favorite_show == None %}
	<P>Favorite Show: Favorite show not selected.</p>
{% else %}
	<P>Favorite Show: {{ user_profile.profile.favorite_show.artist.name }} at {{ user_profile.profile.favorite_show.venue.name }} on {{ user_profile.profile.favorite_show.show_date }} </p>
{% endif %}

{% if user.username == user_profile.username %}
	<form action="{% url 'my_user_profile' %}">
		{% csrf_token %}
		<button type="submit">Edit Profile</button>
	</form>
{% endif %}

{% if user_profile.get_full_name|length > 0 %}
	<h2 id='username_notes'>{{ user_profile.get_full_name }}'s notes</h2>
{% else %}
	<h2 id='username_notes'>Unnamed Reviewer's notes</h2>
{% endif %}

{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title">
    <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
  </h3>

  <p class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</p>
  <p class="note_text">{{ note.text|truncatechars:300 }}</p>
  <p class="note_posted_at">{{ note.posted_date }}</p>
</div>

{% empty %}

<p id='no_records'>No notes.</p>

{% endfor %}

{% endblock %}
